.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__item {
  width: calc((100% - 90px) / 4);
}

.benefits__icons-wrap {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;

  background-color: $section-color;
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $title-color;
}

.benefits__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}