.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-color;
}

.accent-logo {
  color: $main-color;
}

.footer__container {
  display: flex;

  @media screen and (max-width: 1199px) {
      flex-direction: column;
  }

  @include desktop {
      align-items: baseline;
      justify-content: space-between;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 28px;
  text-align: center;
}

.footer-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  display: flex;
  justify-content: space-around;
  }

  @include desktop {
    display: flex;
    gap: 94px;
    align-items: baseline;
  
  }
}

.contact {
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.address__item-add {
  margin-bottom: 12px;
}

.address__link-add {
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $main-color;
}

.footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__link {
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms $transition;

  &:hover,
    &:focus {
      color: $accent-color;
    }
}

.social {
  @media screen and (max-width: 767px) {
  margin-bottom: 60px;
}

  @media screen and (max-width: 1199px) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}


.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $main-color;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.social__list {
  display: flex;
  gap: 10px;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms $transition;
  
  &:hover,
    &:focus {
      background-color: $accent-color;
    }
}

.social__logo {
  width: 20px;
  height: 20px;
  fill: $main-color;
}

.mailing__input {
  padding-left: 16px;
  
  width: 100%;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $main-color;
  background-color: transparent;
  transition: outline 250ms $transition;

  &:focus {
      outline: 1px solid $accent-color;
    }

        &::placeholder {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.25;
          letter-spacing: 0.03em;
    
          color: rgba(255, 255, 255, 0.6);
        }

        @include mobile {
          width: 450px;
        }

        @include desktop {
          width: 358px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
        
        @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        }
}

.mailing__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 28px;
  margin: 0 auto;
  // margin-left: 12px;
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;
  background-color: $accent-color;
  transition: box-shadow 250ms $transition;

  &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    @include desktop {
      display: inline-flex;
      margin-left: 12px;
    }
}

.mailing__text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $main-color;
}

.mailing__icon {
  width: 24px;
  height: 24px;
}