.header {
  min-height: 60px;
  width: 100%;
  border-bottom: 1px solid #ececec;

  background-color: $main-color;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
padding: 16px 0;

@include tablet {
    margin-right: 88px;
  }

@include desktop {
    margin-right: 93px;
  }
}

.accent {
  color: #000000;
}

.navigation__list {
  display: none;

  @include tablet {
      display: flex;
    }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__item {
  position: relative;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-color;

  transition: color 250ms $transition;
  
  &:hover,
    &:focus {
      color: $accent-color;
    }
}

.navigation__link--current {
  color: $accent-color;

  &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
  
      width: 100%;
      height: 4px;
      border-radius: 2px;
  
      background-color: $accent-color;
    }
}

.contact-list {
  display: none;

  @include tablet {
      display: block;
    }

    @include desktop {
      display: flex;
    }
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.02em;

  color: $text-color;

  transition: color 250ms $transition;

&:hover,
    &:focus {
      color: $accent-color;
    }

@include desktop {
      font-size: 14px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
}

.contact-list__item:not(:last-child) {
  // 

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  
  @include desktop{
      margin-right: 40px;
    }
}

.contact-list__icon {
  width: 14px;
  height: 10px;
  margin-right: 10px;
  fill: currentColor;

  @include desktop {
      width: 16px;
      height: 12px;
    }
}

.tel {
  width: 10px;
  height: 14px;

  @include desktop {
      height: 16px;
    }
}

// Мобильное меню

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  padding: 48px 40px;
  width: 100vw;
  height: 100vh;

  background-color: $main-color;

  @include tablet {
      display: none;
    }
}

.icon-open {
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
    }

    @include tablet {
      display: none;
    }
}

.icon-close {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  border: none;

  &:hover,
    &:focus {
      fill: $accent-color;
    }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav {
  margin-bottom: 64px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 31px;
  line-height: calc(47/40);
  letter-spacing: 0.02em;

  color: $title-color;

  &:hover,
    &:focus {
      color: $accent-color;
    }

        @include mobile {
          font-size: 40px;
  }
}

.mob-contact {
margin-bottom: 64px;
}

.mob-contact__tel {
  display: block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 27px;
  line-height: calc(40/34);
  letter-spacing: 0.02em;

  color: $accent-color;

  @include mobile {
    font-size: 34px;
    }
}

.mob-contact__mail {
  display: block;
  
  font-weight: 500;
  font-size: 19px;
  line-height: calc(28/24);
  letter-spacing: 0.02em;

  color: $text-color;

  @include mobile {
      font-size: 24px;
    }
}

.mob-soc {
  display: inline-block;
}

.mob-soc__list {
  display: flex;
  gap: 10px;
}

.mob-soc__item:not(:last-child)::after {
  content: '' ;
  margin-left: 10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 11px;
  line-height: calc(22/18);
  letter-spacing: 0.02em;

  color: $accent-color;

  @include mobile {
      font-size: 18px;
    }
}




