.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  height: 400px;
  max-width: 1600px;

  background: $footer-color;
  background-image: $gradient,
    url(../images/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: $gradient,
          url(../images/hero/hero-mob-x2.jpg);
    }

  @include tablet {
    background-image: $gradient,
        url(../images/hero/hero-tab.jpg);
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: $gradient,
              url(../images/hero/hero-tab-x2.jpg);
          }
  }

    @include desktop {
      padding-top: 200px;
      padding-bottom: 200px;
      height: 600px;
      background-image: $gradient,
        url(../images/hero/hero.jpg);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
            background-image: $gradient,
              url(../images/hero/hero-x2.jpg);
          }
    }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42/26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 300px;

  color: $main-color;

  @include mobile {
    width: 360px;
    }

  @include desktop {
    width: 696px;
    font-size: 44px;
    line-height: calc(60/44);
    }
}

.hero__btn {
  padding: 10px 24px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;

  color: $main-color;
  background-color: $accent-color;

  transition: box-shadow 250ms $transition;
  
  &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

