.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $transition, visibility 250ms $transition;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;
  width: 310px;
  min-height: 609px;

  background-color: $main-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) translateY(0) scale(1);
  transition: transform 500ms $transition;

  .is-hidden & {
      transform: translate(-50%, -50%) translateY(-100%) scale(0);
    }

    @include mobile {
      width: 450px;
    }

    @include desktop {
      width: 528px;
      min-height: 581px;
    }
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  color: $accent-color;
  transition: fill 250ms $transition;

  &:hover,
    &:focus {
      fill: currentColor;
    }
}

.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: calc(30/20);
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-color;

  @include desktop {
    line-height: calc(23/20);
  }
}

/* Форма */

.form-label {
  display: block;
  margin-bottom: 10px;
}

.label-wrap {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $text-color;
  cursor: pointer;
}

.input-wrap {
  position: relative;
  display: block;
}

.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: outline 250ms $transition;
  cursor: pointer;

  &:focus {
      outline: 1px solid $accent-color;
    }
}

.icon-form {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  fill: $title-color;
  transition: color 250ms $transition;

  .form-input:focus + & {
      fill: $accent-color;
    }
}

.textarea-label {
  display: block;
  margin-bottom: 20px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  cursor: pointer;
  transition: outline 250ms $transition;

  &:focus {
      outline: 1px solid $accent-color;
    }

        &::placeholder {
          font-size: 14px;
          line-height: calc(16/14);
          letter-spacing: 0.01em;
    
          color: rgba(117, 117, 117, 0.5);

          @include desktop {
            font-size: 12px;
            line-height: calc(14/12);
          }
        }
}

.form-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-check {
  position: relative;
  top: 2px;

  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 2px solid $title-color;
  border-radius: 2px;
  transition: border 250ms $transition, background-color 250ms $transition;

  .checkbox:checked + & {
      border: 2px solid $accent-color;
      background-color: $accent-color;
      background-image: url(../images/check.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
        .checkbox:focus + & {
          border: 2px solid $accent-color;
        }
}

.form-license {
  letter-spacing: 0.03em;
  font-size: 12px;
  line-height: calc(14/12);

  color: $text-color;
  cursor: pointer;

  @include desktop {
    font-size: 14px;
    line-height: calc(24/14);
  }
}

.license-link {
  letter-spacing: 0.03em;
  font-size: 12px;
  line-height: calc(14/12);

  color: $accent-color;
  text-decoration: underline;

  @include desktop {
    font-size: 14px;
    line-height: calc(24/14);
}
}

.form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $main-color;
  background-color: #188ce8;
  border-radius: 4px;
  border: none;

  transition: box-shadow 250ms $transition;
  
  &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
