
  $main-color: #ffffff;
  $footer-color: #2f303a;
  $section-color: #f5f4fa;
  $text-color: #757575;
  $title-color: #212121;
  $accent-color: #2196f3;
  $icons-color: #afb1b8;
  
  $transition: cubic-bezier(0.4, 0, 0.2, 1);

  $gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
